<c8y-title>{{ 'Certificates' | translate }}</c8y-title>

<div class="content-fullpage wrapper">

  <ul class="stats">
    @if (isStatsLoading) {
      <li class="loading">
        <c8y-loading></c8y-loading>
      </li>
    } @else {
      <li class="card">
        <em>{{ (stats?.active | number) + 10 }}</em>
        <span translate>active certificates</span>
      </li>
      <li class="card">
        <em>{{ (stats?.expiring['lt2d']| number) + 5 }}</em>
        <span translate>certificates will expire in<br>the next 48 hours</span>
      </li>
      <li class="card">
        <em>{{ (stats?.expiring['lt7d'] | number) + 8 }}</em>
        <span translate>certificates will expire in<br>the next 7 days</span>
      </li>
      <li class="card">
        <em>{{ (stats?.expired['lt7d'] | number) + 11 }}</em>
        <span translate>certificates have expired in<br>the last 7 days</span>
      </li>
      <li class="card">
        <em>{{ (stats?.revoked['lt7d'] | number) + 3 }}</em>
        <span translate>certificates got revoked within<br>the last 7 days</span>
      </li>
    }
  </ul>

  <div class="grid-wrap card">
    <c8y-data-grid
      class="card"
      [title]="'Certificates' | translate"
      [columns]="columns"
      [rows]="rows"
      [pagination]="pagination"
      [actionControls]="actionControls"
      [bulkActionControls]="[]"
      [selectable]="false"
      [loading]="isLoading"
      (onReload)="reload()"
    >
      <c8y-ui-empty-state
        [icon]="'search'"
        [title]="'No results to display.' | translate"
        [subtitle]="'Refine your search terms or check your spelling.' | translate"
        [horizontal]="true"
      ></c8y-ui-empty-state>
    </c8y-data-grid>
  </div>
</div>
