.key-value-list {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 3px calc(var(--c8y-unit-base)* 2);
}

.dotted-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}